
@model IEnumerable<Lab03.Models.Student>
@{
    ViewBag.Title = "Index";

}

<h2 class="mt-5">All Students</h2>

<a href="/Student/create" class="btn btn-success">Add Student</a>
<br />
<br />

<table class="table table-hover table-striped text-center table-light">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        @*<th>Department</th>*@
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Age</td>
            @*<td>@item.Department.DeptName</td>*@
            <td>
                <a href="/Employee/Edit/@item.ID" class="btn btn-primary">Edit</a> |
                <a href="/Employee/Details?id=@item.ID" class="btn btn-dark">Details</a> |
                <a href="/Employee/Delete/@item.ID" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?!');">Delete</a>
            </td>
        </tr>
    }
</table>