@model Employee

@{
    ViewBag.Title = "Create";
}

<div class="container git">
    <div class="text-center col-12 section-title">
        <h3>Add<span> New </span>Employee</h3>
    </div>
    @Html.Partial("EmployeeForm")
</div>