
@{
    ViewBag.Title = "Edit";
}

<div class="container git">
    <div class="text-center col-12 section-title">
        <h3>Updat<span> Employee </span>Data</h3>
    </div>
    @Html.Partial("EmployeeForm")
</div>
