
@{
    ViewBag.Title = "FormResult";
    var Form = ViewBag.Form;
}

<div class="wrapper row2">
        <table class="table table-striped table-hover">

            <tr>
                @foreach (var Key in Form.AllKeys)
                {
                    <th scope="col">@Key</th>
                }
            </tr>

            <tr>
                @foreach (var Key in Form.AllKeys)
                {
                    if (Key != "sport")
                    {
                        <td scope="row">@Form[Key]</td>
                    }
                    else
                    {
                        <td>
                            @foreach (var item in Form[Key])
                            {
                                <span>@item.tostring()</span>

                            }

                        </td>
                    }

                }
            </tr>

        </table>
</div>
